.container {

    display: flex;
    /* width: 1300px; */
    /* flex-direction: column; */
    margin-left: 0 auto;
    margin-right: 0 auto;
    /* align-items: center; */
    
}

@media (min-width: 767px) {
.feed{
  flex:0.7;
  margin: 30px;
  width:1300px;
  overflow : scroll;
  height: 700px;
  /* min-width: fit-content; */
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
}
.feed::-webkit-scrollbar {
  width: 10px;

}
}


@media (max-width: 767px) {
  .feed{
    flex:1;
    margin: 30px;
    width:1300px;
    overflow : scroll;
    height: 700px;
    /* min-width: fit-content; */
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
  }
  .feed::-webkit-scrollbar {
    width: 10px;
  
  }
  }