.container {

    display: flex;
    /* width: 1300px; */
    /* flex-direction: column; */
    margin-left: 0 auto;
    margin-right: 0 auto;
    /* align-items: center; */
    
}

.feed{
  flex:0.7;
  margin: 30px;
  width:1300px;
  overflow : scroll;
  height: 100%;
  /* min-width: fit-content; */
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
}